# ignore everything
*

# ~
!.xprofile
!.zprofile
!.gitignore
!LICENSE
!README.md
!screenshots/*

# ~/.config/
!.config/bspwm/
!.config/dunst/
!.config/fontconfig/
!.config/gtk-3.0/settings.ini
!.config/htop/
!.config/lf/
!.config/mpv/
!.config/networkmanager-dmenu/
!.config/npm/
!.config/nsxiv/
!.config/nvim/
!.config/picom/
!.config/polybar/
!.config/shell/
!.config/sxhkd/
!.config/wget/
!.config/x11/
!.config/zsh/.zshrc
!.config/mimeapps.list
!.config/user-dirs.dirs
!.config/user-dirs.locale

# ~/.local/
!.local/bin/*
!.local/share/bg.png

